@(list:dto.WL)
 @import helper._

@main("main"){
      <div id="main">
        <div id="contents">
          <div class="represent">
            <div class="uk-overflow-auto represent-contents">
              <table class="uk-table uk-table-hover">
                <thead>
                  <tr>
                    <th>ITEM</th>
                    <th>0:00</th>
                    <th>1:00</th>
                    <th>2:00</th>
                    <th>3:00</th>
                    <th>4:00</th>
                    <th>5:00</th>
                    <th>6:00</th>
                    <th>7:00</th>
                    <th>8:00</th>
                    <th>9:00</th>
                    <th>10:00</th>
                    <th>11:00</th>
                    <th>12:00</th>
                    <th>13:00</th>
                    <th>14:00</th>
                    <th>15:00</th>
                    <th>16:00</th>
                    <th>17:00</th>
                    <th>18:00</th>
                    <th>19:00</th>
                    <th>20:00</th>
                    <th>21:00</th>
                    <th>22:00</th>
                    <th>23:00</th>
                  </tr>
                </thead>
                <tbody>
                   <tr>
                    <td class="weahter-td">
                      <span class="weather-label">ICON</span>
                    </td>
                   
                        <td class="icon">@list.icon</td>                        
                   </tr>                                                     
                  <tr>
                    <td class="weahter-td">
                      <span class="weather-label">WEATHER</span>
                    </td>                    
                    <td id="weather">@list.main</td>                    
                  </tr>
                  <tr>
                    <td class="temperature-td">
                      <span class="temperature-label">TEMPERATURE</span>
                    </td>
                    <td id="temperature">@list.temp1℃</td>
                  </tr>
                  <tr>
                    <td class="flow-td">
                      <span class="flow-label">AIR FLOW</span>
                    </td>
                    <td id="wind">@list.windSpeed  m/s</td>
                  </tr>
                  <tr>
                    <td class="cloud-td">
                      <span class="cloud-label">CLOUD COVER</span>
                    </td>
                    <td id="cloud">@list.cloudAll %</td>
                  </tr>
                  <tr>
                    <td class="pressure-td">
                      <span class="pressure-label">PRESSURE</span>
                    </td>
                    <td id="pressure">@list.pressure hPa</td>
                  </tr>
                  <tr>
                    <td class="humidity-td">
                      <span class="humidity-label">HUMIDITY</span>
                    </td>
                    <td id="humidity">@list.humidity %</td>
                  </tr>
                  <tr>
                    <td class="sunrise-td">
                      <span class="sunrise-label">SUNRISE</span>
                    </td>
                    <td id="sunrise">@list.sunrise</td>
                  </tr>
                  <tr>
                    <td class="sunset-td">
                      <span class="sunset-label">SUNSET</span>
                    </td>
                    <td id="sunset">@list.sunset</td>
                  </tr>
                  <tr>
                    <td class="latlon-td">
                      <span class="latlon-label">LAT LON</span>
                    </td>
                    <td id="latlon">LAT: @list.lat ,LON: @list.lon</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div id="map-contents">
            <div id="map"></div>
          </div>
        </div>
      </div>
      <script src="public/javascripts/main.js" charset="UTF-8" type="text/javascript"></script>
    }